API_ID=29577387
API_HASH=f3e3df17463fe477c313121ce72cebc7
SESSION_STRING=
MY_TELEGRAM_ID=1344488824
WORKER_URL=https://jarvis-worker.loxazavr.workers.dev
WORKER_API_SECRET=workerApiKey456
TIMEZONE_OFFSET=3
